footer {
    padding: 1px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

a:link {
    text-decoration: none;
    text-decoration-color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
td, th {
    border: 1px solid #000000;
    text-align: center;
}
