footer {
    padding: 100px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

a:link {
    text-decoration: none;
    text-decoration-color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 6px;
    margin-right: 6px;
    margin-left: 6px;
}
td, th {
    border: 1px solid #000000;
    text-align: center;
}
